.common{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
   color: #fff;
   font-weight: 500 !important;

}

#detailsBtn{
    width: 140px !important;
}

.job_btn{
    border: 1px solid #9873FF;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.bg-header{
background-color: #1E1E1E !important;
}

.active{
    padding: 1rem;
    text-decoration: none;
    color: red;
}